.footer-main {
    max-width: 100%;
    background-color: #1F2937;
    color: #fff;
}

.footer-main .footer-heading {
    max-width: 45%;
    margin-left: auto;
    margin-right: auto;
text-align: center;


}
.footer-main .footer-heading h2 {
    margin-bottom: 56px;
    font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 36px;
line-height: 40px;
padding-top: 128px;
}

.footer-main .footer-heading p {
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;

}

.footer-main .social-buttons {
    max-width: 12%;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-top: 56px;
}

.footer-main .contact {
    display: flex;
    max-width: 33%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    margin-top: 88px;
}

@media (max-width: 990px) {
    .footer-main .footer-heading h2 {
        margin-bottom: 20px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 27px;
        line-height: 30px;
        padding-top: 113px;
 }
 .footer-main .footer-heading p {
    font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 26px;
}
.footer-main .social-buttons {
    max-width: 41%;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-top: 56px;
}

.footer-main .contact {
    display: flex;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    margin-top: 52px;
}
.footer-main .contact p {
   font-size: 12px;
}
.footer-main .contact img {
width:    30px;
Height:  38px;

    
}



}